name: Advent of Code Solutions

on:
  push:
    branches:
      - main

jobs:
  solutions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
      - name: Install Dependencies
        run: npm ci
      - name: Lint
        run: npm run lint
      - name: Unit Tests
        run: npm test
      - name: Day 1
        run: npm run day1
      - name: Day 2
        run: npm run day2
      - name: Day 3
        run: npm run day3
