name: Advent of Code Solutions

on:
  push:
    branches:
      - main

jobs:
  solutions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
      - name: Install Dependencies
        run: npm ci
      - name: Lint
        run: npm run lint
      - name: Unit Tests
        run: npm test
      - name: Run Solutions 2024
        run: npm run solutions:2024
      - name: Run Solutions 2025
        run: npm run solutions:2025
